In [1]:
import pandas as pd

In [51]:
book_data = pd.read_csv('Data/03_Library Systembook.csv')

In [54]:
book_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 0 to 19
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      19 non-null     float64
 1   Books                   19 non-null     object
 2   Book checkout           19 non-null     datetime64[ns]
 3   Book Returned           19 non-null     datetime64[ns]
 4   Days allowed to borrow  19 non-null     object
 5   Customer ID             19 non-null     float64
dtypes: datetime64[ns](2), float64(2), object(2)
memory usage: 1.0+ KB

In [53]:
#Read csv file
book_data = pd.read_csv('Data/03_Library Systembook.csv')

#Drop rows where empty
book_data = book_data.dropna()

#Change Book checkout data type to datetime - first remove double " and format d/m/y. Also removes wrong dates e.g. 32/05/2023
book_data['Book checkout'] = book_data['Book checkout'].str.strip('"')
book_data['Book checkout'] = pd.to_datetime(
    book_data['Book checkout'],
    format='%d/%m/%Y',
    errors='coerce'
)
book_data = book_data.dropna(subset=['Book checkout'])

#Change Book Returned data type to datetime and format d/m/y.
book_data['Book Returned'] = pd.to_datetime(book_data['Book Returned'], format='%d/%m/%Y')

#Assuming date input error where Book checkout > Book Returned - swap rows where affected
bad_dates = book_data['Book Returned'] < book_data['Book checkout']
book_data.loc[bad_dates, ['Book checkout', 'Book Returned']] = book_data.loc[bad_dates, ['Book Returned', 'Book checkout']].values

In [55]:
book_data.head(20)

,Id,Books,Book checkout,Book Returned,Days allowed to borrow,Customer ID
0,1.0,Catcher in the Rye,2023-02-20,2023-02-25,2 weeks,1.0
1,2.0,Lord of the rings the two towers,2023-03-21,2023-03-24,2 weeks,2.0
2,3.0,Lord of the rings the return of the kind,2023-03-25,2023-03-29,2 weeks,3.0
3,4.0,The hobbit,2023-03-25,2023-04-02,2 weeks,4.0
4,5.0,Dune,2023-03-25,2023-04-02,2 weeks,5.0
5,6.0,Little Women,2023-04-02,2023-05-01,2 weeks,1.0
6,7.0,IT,2023-04-03,2063-04-10,2 weeks,6.0
7,8.0,Misery,2023-04-03,2023-04-15,2 weeks,7.0
8,9.0,Catch 22,2023-04-15,2023-04-16,2 weeks,7.0
9,10.0,Animal Farm,2023-04-20,2023-04-24,2 weeks,2.0
10,11.0,1984,2023-04-23,2023-04-27,2 weeks,8.0
11,12.0,Little Women,2023-04-02,2023-05-01,2 weeks,1.0
12,13.0,East of Eden,2023-04-30,2023-05-05,2 weeks,2.0
13,14.0,America Is in the Heart,2023-05-01,2023-05-07,2 weeks,3.0
14,15.0,Wuthering Heights,2023-05-01,2023-05-10,2 weeks,9.0
15,16.0,Dark Tales,2023-05-15,2023-06-01,2 weeks,2.0
17,18.0,Les Miserables,2023-06-03,2023-06-07,2 weeks,5.0
18,19.0,Dracula,2023-06-10,2023-07-10,2 weeks,10.0
19,20.0,Frankenstein,2023-06-01,2023-06-20,2 weeks,2.0